body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  height: "1500px";
  background: "cornflowerblue";
}

.featured_container {
  position: "relative";
}

.font_righteous {
  font-family: "Righteous", cursive;
}

.bck_black {
  background: #3c3c3c;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #ff4800;
}
.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin: 0 auto;
}

/*====================
        HEADER
======================*/

header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_venue {
  font-size: 40px;
}

header .header_logo_title {
  /* text-transform: uppercase; */
  margin: 10px 0;
}

/*====================
        FOOTER
======================*/

footer {
  padding: 50px 0px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  background: red;
}

footer div {
  transition-duration: 1.4s;
  transition-property: opacity;
}

footer .footer_copyright {
  font-size: 18px;
}

/*====================
        CARROUSEL
======================*/

.carrousel_wrapper {
  height: 700px;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}

/*====================
        LOCATION    
======================*/

.location_wrapper {
  position: relative;
}

.location_tag {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.location_tag div {
  background: #2c2c2c;
  color: #ffffff;
  text-transform: uppercase;
  width: 220px;
  margin: 0 auto;
  font-size: 29px;
  padding: 15px 20px;
  text-align: center;
}

/*====================
        TITLE    
======================*/

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.container-text {
  height: 500px;
  width: 1000px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid #dddddd;

  /* direction: rtl; */
  padding: 5px 15px;
  overflow: hidden;
}

.container-dital {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffa800;
  height: 50px;
  width: 1000px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #dddddd;
  padding: 0 15px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.like button {
  border: none;
  background-color: #ffa800;
  cursor: pointer;
  border-radius: 25px;
}
.close-open {
  border: none;
  background-color: #ffa800;
  cursor: pointer;
  border-radius: 25px;
}
.close-open:hover {
  color: #ff4800;
}
button:active {
  background: #ff4800;
}

/*====================
    countdown-timer    
======================*/

.countdown-timer {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  gap: 30px;
  width: 100%;
  background: #023047;
  background-image: radial-gradient(
    circle 610px at 5.2% 51%,
    rgb(5, 8, 114) 0%,
    rgb(7, 3, 53) 97%
  );
  color: #ffffff;
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
